<div class="ib-ui-window ib-ui-login-box">
    <form novalidate name="registerForm" ng-enter="register()">
        <input required ng-maxlength="12" type="text" class="iinput vspacer" placeholder="Username" ng-model="username" ib-focus="true">
        <input ng-show="!showPassword" required ng-maxlength="32" type="password" class="iinput vspacer" placeholder="Password" ng-model="password">
        <input ng-show="showPassword" required ng-maxlength="32" type="text" class="iinput vspacer" placeholder="Password" ng-model="password">

        <div class="label">
            Show password <input type="checkbox" ng-model="showPassword">
        </div>

        <input required type="email" class="iinput vspacer" placeholder="E-mail" ng-model="email">

        <div class="label agree">
            By signing up, you agree to our <a href="http://legal.ironbane.com/termsandconditions.html" target="_blank">terms and conditions</a> and
            <a href="http://legal.ironbane.com/privacypolicy.html" target="_blank">privacy policy</a>.
        </div>

        <button class="ibutton attention" ng-disabled="registerForm.$invalid" click-sound ng-click="register()" style="width:145px;float:left;margin-right:10px">Sign up</button>
        <button class="ibutton" click-sound ng-click="cancel()" style="width:145px">Cancel</button>
    </form>
</div>
