<div>
    <ul scroll-glue>
        <li ng-repeat="message in chatBox.messages | orderBy:'+ts'" class="chat-message" ng-class="message.flags">
            <span class="char-name" ng-class="message.from.flags" ng-if="message.flags.direct">{{ message.from.name }} -> </span>
            <span class="char-name" ng-class="message.user.flags" ng-if="!message.flags.direct && message.user.name">{{ message.user.name }}</span>
            {{ message.msg }}
            <p ng-if="message.flags.warn && message.flags.warnings">{{ message.flags.warnings }} warnings</p>
        </li>
    </ul>
    <input class="iinput" tabindex="-1" ng-if="chatBox.showInput" ib-focus="chatBox.showInput" ng-model="chatBox.newmsg" ng-focus="chatBox.trapKeys()" ng-blur="chatBox.untrapKeys()" maxlength="255" />
</div>
