
@import "../../../less/variables.import.less";

.inventory-item {
	width: @inv-item-size;
	height: @inv-item-size;
	background-image: url(images/spritesheets/items.png);
	background-repeat: no-repeat;
    background-size: (512px * @inv-item-size-multiplier) (4096px * @inv-item-size-multiplier);
    image-rendering: pixelated;
}