
@import "../../../less/variables.import.less";

inventory-bar {

    // outline: 1px solid purple;
    background-color: @primary4;
    position: fixed;
    display: block;
    bottom: 0px;
    left: 50%;
    width: 9 * @inv-item-size;
    height: 2 * @inv-item-size;

    // background-color: rgb(20, 105, 76);
    // left: 35%;
    margin-left: -4.5 * @inv-item-size;

    @media only screen and (min-width: 800px) {
        width: 17 * @inv-item-size;
        height: 1 * @inv-item-size;
        margin-left: -8.5 * @inv-item-size;
    }

    .inventoryBar {
        // z-index: 3;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: @inv-item-size;
            height: @inv-item-size;
            display: block;
            background-size: (256px * @inv-item-size-multiplier) (256px * @inv-item-size-multiplier);
            display: inline-block;
            background-image: url(images/ui/inventory.png), url(images/ui/inventory.png);
            background-repeat: no-repeat;
            image-rendering: pixelated;
        }
    }
}

#playerIronblood {
    margin-top: 6px;
    margin-left: 2px;
    i.ironblood-icon {
        width: 16px * 2.0;
        height: 16px * 2.0;
        background-image: url(images/spritesheets/items.png);
        background-repeat: no-repeat;
        background-size: (256px * 2.0) (2048px * 2.0);
        image-rendering: pixelated;
        display: inline-block;
        background-position: (12 * -16px * 2.0) (114 * -16px * 2.0);
    }
    span {
        position: relative;
        color: @primary4;
        left: 5px;
        top: -7px;
        text-shadow: 1px 1px 0px spin(@primary1, 140%), -1px 1px 0px spin(@primary1, 140%), 1px -1px 0px spin(@primary1, 140%), -1px -1px 0px spin(@primary1, 140%);
    }
}


#playerGold {
    margin-top: 6px;
    margin-left: 2px;
    i.gold-icon {
        width: 16px * 2.0;
        height: 16px * 2.0;
        background-image: url(images/ui/stats.png);
        background-repeat: no-repeat;
        background-size: (64px * 2.0) (128px * 2.0);
        image-rendering: pixelated;
        display: inline-block;
        background-position: (0 * -16px * 2.0) (5 * -16px * 2.0);
    }
    span {
        position: relative;
        color: @primary4;
        left: 5px;
        top: -7px;
        text-shadow: 1px 1px 0px spin(@primary1, 260%), -1px 1px 0px spin(@primary1, 260%), 1px -1px 0px spin(@primary1, 260%), -1px -1px 0px spin(@primary1, 260%);
    }
}
