
inventory-bar {
    // outline: 1px solid purple;
    background-color: #004241;
    position: fixed;
    display: block;
    bottom: 0px;
    left: 50%;
    width: 8 * 32px;
    height: 2 * 32px;
    // background-color: rgb(20, 105, 76);
    // left: 35%;
    margin-left: -4 * 32px;

    .inventoryBar {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: 32px; 
            height: 32px; 
            display: block;            
            background-size: 256px 256px;
            display: inline-block;
            background-image: url(images/ui/inventory.png), url(images/ui/inventory.png);
            background-repeat: no-repeat;
            image-rendering: pixelated;
        }    
    }
}


