<!-- <meteor-include src="loginButtons"></meteor-include> -->
<!-- <button class="ibutton" ng-click="play()">Play</button> -->
<div class="ib-ui-window ib-ui-login-box" ng-enter="login()">
	<input type="text" class="iinput vspacer" placeholder="Username" ng-model="username" ib-focus="true">
	<input type="password" class="iinput vspacer" placeholder="Password" ng-model="password">

	<button class="ibutton attention" click-sound ng-click="login()" style="width:145px;float:left;margin-right:10px">Log in</button>
	<button class="ibutton" click-sound ng-click="cancel()" style="width:145px">Cancel</button>
</div>
