

@charSize : 16px;
@charPreviewBoxScale : 8;
@charPreviewBoxSize : @charSize * @charPreviewBoxScale;

.ib-ui-login-box {
	position: relative;

	width: 300px;
	// height: 200px;
	padding: 10px;

	.ibutton, .iinput {
		width: 100%;
		box-sizing: border-box;

		&.vspacer {
			margin-bottom: 10px;
		}
	}

	.char-title {
		padding-top: 6px;
		text-align: center;
	}

	.del-btn {
		position: absolute;
		right: 10px;
		top: 60px;
	}

	.playasguest {
		margin-bottom: 10px;
	}

	.char-preview {
		width: @charPreviewBoxSize;
		height: @charPreviewBoxSize;
		background-repeat: no-repeat;
		background-position: @charSize*@charPreviewBoxScale*-1 @charSize*@charPreviewBoxScale*-4;
		background-size: @charPreviewBoxSize*3 @charPreviewBoxSize*8;
		image-rendering: pixelated;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.char-cust {
		position: absolute;

		&.skin, &.eyes {
			top: 130px;
		}

		&.hair, &.eyes {
			right: 10px;
		}
	}

	.char-cust-label {

	}

	.char-cust-btn {
		width: 40px;
	}

	.char-cust-btn-left {
		width: 40px;
		float: left;
	}

	.char-cust-btn-right {
		width: 40px;
	}

	.label {
		margin-bottom: 10px;
	}

	&.login-info {
		margin-bottom: 10px;

		.label {
			margin-top: 7px;
		}
	}
}

