<div class="ib-ui-window ib-ui-login-box login-info" ng-if="!$root.currentUser.profile.guest">
	<div style="width:200px;float:left" class="label">{{ $root.currentUser.username }}</div>
	<button class="ibutton" ng-click="logout()" style="width:100px">Log out</button>
</div>
<div class="ib-ui-window ib-ui-login-box">
	<div ng-if="$root.currentUser.profile.guest">
		<button class="ibutton attention playasguest" ng-click="play()">Play as Guest</button>

		<button class="ibutton" ng-click="login()" style="width:145px;float:left;margin-right:10px">Log in</button>
		<button class="ibutton" ng-click="register()" style="width:145px">Register</button>
	</div>
	<div ng-if="!$root.currentUser.profile.guest">
		<div ng-if="entities.length === 0">
			<input type="text" class="iinput vspacer" placeholder="Character name" ng-model="nickname">

			<div class="char-cust gender">
				<div class="char-cust-label">Gender</div>
				<div>
					<button ng-if="boy" ng-click="toggleGender()" class="ibutton">Boy</button>
					<button ng-if="!boy" ng-click="toggleGender()" class="ibutton">Girl</button>
				</div>
			</div>

			<div class="char-cust skin">
				<div class="char-cust-label">Skin</div>
				<div>
					<button ng-click="prevSkin()" class="ibutton char-cust-btn-left">←</button>
					<button ng-click="nextSkin()" class="ibutton char-cust-btn-right">→</button>
				</div>
			</div>

			<div class="char-cust hair">
				<div class="char-cust-label">Hair</div>
				<div>
					<button ng-click="prevHair()" class="ibutton char-cust-btn-left">←</button>
					<button ng-click="nextHair()" class="ibutton char-cust-btn-right">→</button>
				</div>
			</div>

			<div class="char-cust eyes">
				<div class="char-cust-label">Eyes</div>
				<div>
					<button ng-click="prevEyes()" class="ibutton char-cust-btn-left">←</button>
					<button ng-click="nextEyes()" class="ibutton char-cust-btn-right">→</button>
				</div>
			</div>

			<div class="char-preview" ng-style="{ 'background-image': 'url(' + charPrevImg + ')' }"></div>
			<button class="ibutton attention" ng-click="create()">Create Character</button>
		</div>
		<div ng-if="entities.length > 0">
			<button class="ibutton del-btn" ng-click="delete()" style="width:40px">&#10006;</button>
			<button class="ibutton" ng-click="play()" style="width:40px;float:left">←</button>
			<div class="char-title" style="width:220px;float:left">{{ entities[0].name }}</div>
			<button class="ibutton" ng-click="play()" style="width:40px">→</button>
			<div class="character-preview" ng-style="{ 'background-image': 'url(' + entities[0].components.quad.texture + ')' }"></div>

			<button class="ibutton attention" ng-click="play()">Enter Ironbane</button>
		</div>
	</div>
</div>
