<debug-div ng-if="IB_CONSTANTS.isDev"></debug-div>
<admin-div ng-if="gui.showAdminPanel" cheats="mainPlayer.getComponent('cheats')"></admin-div>
<chat-box show-input="gui.showChatInput"></chat-box>
<div class="stats-container">
    <stat-bar id="healthBar" stat-component="mainPlayer.getComponent('health')"></stat-bar>
    <stat-bar id="armorBar" stat-component="mainPlayer.getComponent('armor')"></stat-bar>
    <div id="playerGold"><i class="gold-icon"></i><span>{{ mainPlayer.getComponent('inventory').gold }}</span></div>
    <div id="playerIronblood"><i class="ironblood-icon"></i><span>{{ $root.currentUser.profile.ironblood }}</span></div>
</div>
<big-messages-box></big-messages-box>
<drop-zone entity="mainPlayer"></drop-zone>
<inventory-bar id="playerInventory" entity="mainPlayer"></inventory-bar>
<button class="ibutton reset-player" tabindex="-1" click-sound ng-click="resetPlayer($event)"></button>
