<debug-div ng-if="IB_CONSTANTS.isDev && (!mainPlayer.getComponent('cheats') || !mainPlayer.getComponent('cheats').screenshot)"></debug-div>
<admin-div ng-if="gui.showAdminPanel" cheats="mainPlayer.getComponent('cheats')"></admin-div>
<chat-box show-input="gui.showChatInput" ng-if="!mainPlayer.getComponent('cheats') || !mainPlayer.getComponent('cheats').screenshot"></chat-box>
<div class="stats-container" ng-if="!mainPlayer.getComponent('cheats') || !mainPlayer.getComponent('cheats').screenshot">
    <stat-bar id="healthBar" stat-component="mainPlayer.getComponent('health')"></stat-bar>
    <stat-bar id="armorBar" stat-component="mainPlayer.getComponent('armor')"></stat-bar>
    <div id="playerGold"><i class="gold-icon"></i><span>{{ mainPlayer.getComponent('inventory').gold }}</span></div>
    <div id="playerIronblood"><i class="ironblood-icon"></i><span>{{ $root.currentUser.profile.ironblood }}</span></div>
</div>
<big-messages-box></big-messages-box>
<drop-zone entity="mainPlayer"></drop-zone>
<pickup-button></pickup-button>
<inventory-bar id="playerInventory" entity="mainPlayer" ng-if="!mainPlayer.getComponent('cheats') || !mainPlayer.getComponent('cheats').screenshot"></inventory-bar>
<button class="ibutton reset-player" tabindex="-1" click-sound ng-click="resetPlayer($event)" ng-if="!mainPlayer.getComponent('cheats') || !mainPlayer.getComponent('cheats').screenshot"></button>
