admin-div {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 100, 0.8);
	padding: 5px;
	font-size: 14px;
	color: white;
	z-index: 1;
	overflow: auto;

	.spritesheet {
		width: 512px;
		height: 4096px;
		image-rendering: pixelated;
	}

	.itemid {
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 30px;
	}

	.ibutton {
		display: inline-block;
	}

	.armorids {
		img {
			padding-top:20px;
			padding-right:30px;
			height:288px;
			image-rendering:pixelated;
		}
	}

	.skinids {
		img {
			padding-top:20px;
			padding-right:30px;
			height:288px;
			image-rendering:pixelated;
		}
	}

	.npcbuilder {
		.ibutton {
			display: block;
		}
		.left-cust, .right-cust {
			.ibutton {
				width: 40px;
				display: inline-block;
			}
			width: 150px;
			display: inline-block;
		}

		.ib-ui-login-box {
			display: inline-block;
		}

		img {
			height:288px;
			width: 96px;
			image-rendering:pixelated;
		}


		textarea {
			display: block;
			width: 200px;
			height: 40px;
		}

		.left {
			float:left;
		}
	}
}