admin-div {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 100, 0.8);
	padding: 5px;
	font-size: 14px;
	color: white;
	z-index: 1;
	overflow: auto;

	.spritesheet {
		width: 512px;
		height: 4096px;
	}

	.itemid {
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 30px;
	}
}