<div>
    <div class="ib-ui-logo">
        <div class="ib-ui-version">{{ IB_CONSTANTS.GAME_VERSION }}</div>
        <img ng-src="images/ui/logo.png">
    </div>
</div>
<div class="ib-ui-window ib-ui-login-box login-info" ng-if="!$root.currentUser.profile.guest">

	<div style="width:300px">
		<div style="float:left;padding-right:10px;text-overflow: ellipsis;max-width: 250px;overflow: hidden;" class="label">{{ $root.currentUser.username }}</div>
		<button class="ibutton" click-sound ng-click="logout()" style="width:40px;display:inline-block">⇤</button>
	</div>

<!-- 	<div class="ironblood-label" style="width:65px;float:left">
		<div class="label">{{ $root.currentUser.profile.ironblood }} &#10006;</div>
		<inventory-item item="{image: 1836, name: 'Ironblood'}"></inventory-item>
	</div>

	<button class="ibutton" click-sound ng-click="buy()" style="width:60px">Buy</button> -->
</div>
<div ui-view class="sub-menu"></div>
<button class="ibutton switch-server" click-sound ng-click="goToSwitchServerScreen()">{{ $root.currentUser.profile.server }}</button>
<button class="ibutton sound-toggle" ng-class="{disabled: !currentUser.profile.enableSound}" click-sound ng-click="toggleSound()">♫</button>
