<div>
    <div class="ib-ui-logo">
        <img ng-src="images/ui/logo.png">
    </div>
    <div class="ib-ui-version">{{ IB_CONSTANTS.GAME_VERSION }}</div>
    <div class="ib-ui-window ib-ui-info">
        <ul>
            <li><a href="http://ironbane.com" target="_blank">Ironbane Forum</a></li>
            <li><a href="http://ironbane.com/category/6/bugs" target="_blank">Report a Bug</a></li>
            <li><a href="https://trello.com/b/oOKHz1H8/roadmap" target="_blank">Roadmap</a></li>
            <li><a href="http://ironbane.com/topic/414/credits" target="_blank">Credits</a></li>
            <li><a href="http://eepurl.com/bzeGlz" target="_blank">Newsletter</a></li>
            <li><a href="mailto:support@ironbane.com" target="_blank">Contact Support</a></li>
            <li>&nbsp;</li>
            <li><a href="http://legal.ironbane.com/termsandconditions.html" target="_blank">Terms and Conditions</a></li>
            <li><a href="http://legal.ironbane.com/privacypolicy.html" target="_blank">Privacy Policy</a></li>
        </ul>
    </div>
</div>
<div class="ib-ui-window ib-ui-login-box login-info" ng-if="!$root.currentUser.profile.guest">

	<div style="width:300px">
		<div style="float:left;padding-right:10px;text-overflow: ellipsis;width: 180px;overflow: hidden;" class="label">{{ $root.currentUser.username }}</div>
        <button class="ibutton" click-sound ng-click="logout()" style="width:110px;display:inline-block">Log out</button>
	</div>
<!-- 	<div class="ironblood-label" style="width:65px;float:left">
		<div class="label">{{ $root.currentUser.profile.ironblood }} &#10006;</div>
		<inventory-item item="{image: 1836, name: 'Ironblood'}"></inventory-item>
	</div>

	<button class="ibutton" click-sound ng-click="buy()" style="width:60px">Buy</button> -->
</div>
<div ui-view class="sub-menu"></div>
<button class="ibutton switch-server" click-sound ng-click="goToSwitchServerScreen()">{{ $root.currentUser.profile.server.name }}</button>
<button class="ibutton sound-toggle" ng-class="{disabled: !currentUser.profile.enableSound}" click-sound ng-click="toggleSound()">♫</button>
